In [1]:
#imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#loading data
df = pd.read_csv('tennis_stats.csv')

In [3]:
#eploring data
df.head()

,Player,Year,FirstServe,FirstServePointsWon,FirstServeReturnPointsWon,SecondServePointsWon,SecondServeReturnPointsWon,Aces,BreakPointsConverted,BreakPointsFaced,...,ReturnGamesWon,ReturnPointsWon,ServiceGamesPlayed,ServiceGamesWon,TotalPointsWon,TotalServicePointsWon,Wins,Losses,Winnings,Ranking
0,Pedro Sousa,2016,0.88,0.50,0.38,0.50,0.39,0,0.14,7,...,0.11,0.38,8,0.50,0.43,0.50,1,2,39820,119
1,Roman Safiullin,2017,0.84,0.62,0.26,0.33,0.07,7,0.00,7,...,0.00,0.20,9,0.67,0.41,0.57,0,1,17334,381
2,Pedro Sousa,2017,0.83,0.60,0.28,0.53,0.44,2,0.38,10,...,0.16,0.34,17,0.65,0.45,0.59,4,1,109827,119
3,Rogerio Dutra Silva,2010,0.83,0.64,0.34,0.59,0.33,2,0.33,5,...,0.14,0.34,15,0.80,0.49,0.63,0,0,9761,125
4,Daniel Gimeno-Traver,2017,0.81,0.54,0.00,0.33,0.33,1,0.00,2,...,0.00,0.20,2,0.50,0.35,0.50,0,1,32879,272

In [4]:
df.tail()

,Player,Year,FirstServe,FirstServePointsWon,FirstServeReturnPointsWon,SecondServePointsWon,SecondServeReturnPointsWon,Aces,BreakPointsConverted,BreakPointsFaced,...,ReturnGamesWon,ReturnPointsWon,ServiceGamesPlayed,ServiceGamesWon,TotalPointsWon,TotalServicePointsWon,Wins,Losses,Winnings,Ranking
1716,Yann Marti,2010,0.41,0.66,0.23,0.45,0.50,1,0.75,8,...,0.23,0.36,12,0.67,0.45,0.53,0,1,9117,1062
1717,Mikhail Elgin,2012,0.41,0.60,0.30,0.36,0.60,3,0.60,13,...,0.33,0.43,10,0.40,0.45,0.46,16,20,89755,831
1718,Alexander Kudryavtsev,2012,0.40,0.64,0.21,0.42,0.42,4,0.25,13,...,0.07,0.29,14,0.57,0.40,0.51,0,1,44566,628
1719,Ivan Nedelko,2011,0.37,0.30,0.15,0.24,0.41,1,0.00,5,...,0.00,0.26,6,0.17,0.26,0.26,0,1,17527,264
1720,Alexander Zverev,2013,0.36,0.50,0.40,0.24,0.36,1,0.33,8,...,0.33,0.39,8,0.25,0.37,0.33,0,1,8869,4

In [5]:
df.sample(10)

,Player,Year,FirstServe,FirstServePointsWon,FirstServeReturnPointsWon,SecondServePointsWon,SecondServeReturnPointsWon,Aces,BreakPointsConverted,BreakPointsFaced,...,ReturnGamesWon,ReturnPointsWon,ServiceGamesPlayed,ServiceGamesWon,TotalPointsWon,TotalServicePointsWon,Wins,Losses,Winnings,Ranking
1482,Andrey Kuznetsov,2011,0.55,0.65,0.27,0.52,0.51,15,0.39,45,...,0.24,0.38,73,0.68,0.48,0.59,2,4,72019,135
1460,Alexander Zverev,2014,0.55,0.62,0.31,0.50,0.48,39,0.33,63,...,0.24,0.37,98,0.65,0.47,0.56,4,6,164207,4
132,Kevin Anderson,2011,0.67,0.75,0.28,0.54,0.49,719,0.41,345,...,0.20,0.36,818,0.86,0.52,0.68,42,27,700879,8
1085,Benjamin Becker,2010,0.58,0.76,0.28,0.50,0.47,461,0.41,290,...,0.20,0.35,647,0.81,0.50,0.65,29,31,476648,1051
62,Flavio Cipolla,2013,0.69,0.56,0.30,0.43,0.45,11,0.47,99,...,0.21,0.36,106,0.55,0.44,0.52,4,7,31342,649
1685,Nathan Pasha,2014,0.48,0.72,0.16,0.32,0.37,6,1.00,4,...,0.10,0.27,10,0.60,0.40,0.52,0,0,108,619
1354,Paul-Henri Mathieu,2015,0.56,0.70,0.27,0.50,0.48,93,0.42,144,...,0.22,0.35,233,0.75,0.49,0.61,7,12,287741,372
1345,Ernesto Escobedo,2016,0.56,0.74,0.21,0.52,0.48,42,0.32,39,...,0.14,0.33,78,0.81,0.49,0.65,2,4,144173,149
1694,Marco Trungelliti,2012,0.47,0.60,0.42,0.48,0.53,3,0.48,22,...,0.44,0.46,26,0.58,0.50,0.54,1,1,43482,191
685,Joao Sousa,2011,0.61,0.63,0.27,0.42,0.51,6,0.55,13,...,0.26,0.36,23,0.61,0.46,0.55,2,2,51106,64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1721 entries, 0 to 1720
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Player                      1721 non-null   object
 1   Year                        1721 non-null   int64
 2   FirstServe                  1721 non-null   float64
 3   FirstServePointsWon         1721 non-null   float64
 4   FirstServeReturnPointsWon   1721 non-null   float64
 5   SecondServePointsWon        1721 non-null   float64
 6   SecondServeReturnPointsWon  1721 non-null   float64
 7   Aces                        1721 non-null   int64
 8   BreakPointsConverted        1721 non-null   float64
 9   BreakPointsFaced            1721 non-null   int64
 10  BreakPointsOpportunities    1721 non-null   int64
 11  BreakPointsSaved            1721 non-null   float64
 12  DoubleFaults                1721 non-null   int64
 13  ReturnGamesPlayed           1721 non-null   int64
 14  ReturnGamesWon              1721 non-null   float64
 15  ReturnPointsWon             1721 non-null   float64
 16  ServiceGamesPlayed          1721 non-null   int64
 17  ServiceGamesWon             1721 non-null   float64
 18  TotalPointsWon              1721 non-null   float64
 19  TotalServicePointsWon       1721 non-null   float64
 20  Wins                        1721 non-null   int64
 21  Losses                      1721 non-null   int64
 22  Winnings                    1721 non-null   int64
 23  Ranking                     1721 non-null   int64
dtypes: float64(12), int64(11), object(1)
memory usage: 322.8+ KB

In [7]:
df.describe(include='all')

,Player,Year,FirstServe,FirstServePointsWon,FirstServeReturnPointsWon,SecondServePointsWon,SecondServeReturnPointsWon,Aces,BreakPointsConverted,BreakPointsFaced,...,ReturnGamesWon,ReturnPointsWon,ServiceGamesPlayed,ServiceGamesWon,TotalPointsWon,TotalServicePointsWon,Wins,Losses,Winnings,Ranking
count,1721,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,...,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,1.721000e+03,1721.000000
unique,438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Ivan Dodig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2013.646717,0.598053,0.680738,0.261673,0.479733,0.466432,97.105171,0.369407,112.003486,...,0.173823,0.342208,197.650203,0.715590,0.473155,0.599245,7.876816,9.278908,2.344928e+05,269.610691
std,NaN,2.488018,0.054533,0.070422,0.056639,0.066902,0.068447,137.966077,0.162987,119.247651,...,0.080880,0.049369,221.208703,0.123287,0.037139,0.057718,10.183716,8.996450,2.530537e+05,277.341947
min,NaN,2009.000000,0.360000,0.270000,0.000000,0.060000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.220000,0.250000,0.000000,0.000000,1.080000e+02,3.000000
25%,NaN,2012.000000,0.570000,0.650000,0.240000,0.460000,0.440000,7.000000,0.320000,15.000000,...,0.130000,0.320000,22.000000,0.670000,0.460000,0.570000,0.000000,2.000000,4.931100e+04,83.000000
50%,NaN,2014.000000,0.600000,0.690000,0.270000,0.490000,0.480000,34.000000,0.380000,55.000000,...,0.180000,0.350000,86.000000,0.750000,0.480000,0.610000,3.000000,5.000000,1.252120e+05,166.000000
75%,NaN,2016.000000,0.630000,0.720000,0.290000,0.520000,0.500000,140.000000,0.430000,201.000000,...,0.220000,0.370000,348.000000,0.790000,0.500000,0.630000,13.000000,17.000000,3.500750e+05,333.000000
max,NaN,2017.000000,0.880000,0.890000,0.480000,0.920000,0.750000,1185.000000,1.000000,507.000000,...,0.560000,0.510000,916.000000,1.000000,0.820000,0.820000,48.000000,36.000000,1.074562e+06,1443.000000

In [8]:
df.isnull().sum()

Player                        0
Year                          0
FirstServe                    0
FirstServePointsWon           0
FirstServeReturnPointsWon     0
SecondServePointsWon          0
SecondServeReturnPointsWon    0
Aces                          0
BreakPointsConverted          0
BreakPointsFaced              0
BreakPointsOpportunities      0
BreakPointsSaved              0
DoubleFaults                  0
ReturnGamesPlayed             0
ReturnGamesWon                0
ReturnPointsWon               0
ServiceGamesPlayed            0
ServiceGamesWon               0
TotalPointsWon                0
TotalServicePointsWon         0
Wins                          0
Losses                        0
Winnings                      0
Ranking                       0
dtype: int64

In [9]:
#dropping player name and adding total matches feature
df = df.drop('Player', axis = 1)
df['total'] = df['Wins'] + df['Losses']

In [10]:
df.corr().Winnings

Year                          0.043908
FirstServe                    0.057882
FirstServePointsWon           0.361121
FirstServeReturnPointsWon     0.240808
SecondServePointsWon          0.281215
SecondServeReturnPointsWon    0.199401
Aces                          0.798404
BreakPointsConverted          0.075022
BreakPointsFaced              0.876036
BreakPointsOpportunities      0.900444
BreakPointsSaved              0.258271
DoubleFaults                  0.854685
ReturnGamesPlayed             0.912613
ReturnGamesWon                0.279645
ReturnPointsWon               0.271646
ServiceGamesPlayed            0.912985
ServiceGamesWon               0.395577
TotalPointsWon                0.461061
TotalServicePointsWon         0.407707
Wins                          0.913297
Losses                        0.869277
Winnings                      1.000000
Ranking                      -0.359835
total                         0.920894
Name: Winnings, dtype: float64

In [11]:
#Let's see what feature corresponds the most with winnings in a linear regression model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
best_single_regression = {}
for col in df.columns:
    X = df[[col]]
    y = df[['Winnings']]
    x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 1)
    mlr = LinearRegression()
    mlr.fit(x_train, y_train)
    y_predicted = mlr.predict(x_test)
    best_single_regression.update({'Winnings, Feature: {col}'.format(col=col):mlr.score(x_test, y_test)})

In [12]:
df_test = pd.DataFrame.from_dict(best_single_regression, orient='index', columns = ['score'])
print(df_test.sort_values('score'))

                                                  score
Winnings, Feature: Year                       -0.000749
Winnings, Feature: FirstServe                  0.001516
Winnings, Feature: BreakPointsConverted        0.004484
Winnings, Feature: SecondServeReturnPointsWon  0.029843
Winnings, Feature: FirstServeReturnPointsWon   0.063924
Winnings, Feature: ReturnPointsWon             0.071320
Winnings, Feature: BreakPointsSaved            0.075812
Winnings, Feature: ReturnGamesWon              0.089880
Winnings, Feature: SecondServePointsWon        0.097742
Winnings, Feature: Ranking                     0.138406
Winnings, Feature: FirstServePointsWon         0.156030
Winnings, Feature: ServiceGamesWon             0.192805
Winnings, Feature: TotalServicePointsWon       0.204190
Winnings, Feature: TotalPointsWon              0.265391
Winnings, Feature: Aces                        0.585220
Winnings, Feature: DoubleFaults                0.669236
Winnings, Feature: BreakPointsFaced            0.715597
Winnings, Feature: Losses                      0.719412
Winnings, Feature: BreakPointsOpportunities    0.779077
Winnings, Feature: ReturnGamesPlayed           0.802559
Winnings, Feature: ServiceGamesPlayed          0.804090
Winnings, Feature: Wins                        0.804149
Winnings, Feature: total                       0.815493
Winnings, Feature: Winnings                    1.000000

In [13]:
#Now a multiple regression with total_matches and wins
X = df[['total', 'Wins']]
y = df[['Winnings']]
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 1)
mlr = LinearRegression()
mlr.fit(x_train, y_train)
y_predicted = mlr.predict(x_test)
print(mlr.score(x_test, y_test))

0.8220577227744996

In [14]:
#Now using all available features
from sklearn.model_selection import train_test_split
X = df.drop('Winnings', axis=1)
y = df[['Winnings']]
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 1)
mlr = LinearRegression()
mlr.fit(x_train, y_train)
y_predicted = mlr.predict(x_test)
print(mlr.score(x_test, y_test))

0.8704176713155842

In [15]:
#Let's see if dropping some of the lower performing features helps the score
X = df.drop(['Winnings', 'Year', 'FirstServe', 'BreakPointsConverted'] , axis=1)
y = df[['Winnings']]
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 1)
mlr = LinearRegression()
mlr.fit(x_train, y_train)
y_predicted = mlr.predict(x_test)
print(mlr.score(x_test, y_test))

#Interestingly this seems to hurt the score and worse than would be predicted based on the individual features dropped.

0.8430380497182847